@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Pinyon+Script&family=Special+Elite&display=swap');
header, footer, .container {
  background-color: #222228;
}

body {
  color: white;
  background-image: url("../images/background-abstract-houndstooth.jpg");
  background-size: 100% auto;
}

.navbar-brand {
  animation: pulse 5s 1;
  font-size: 32px;
  font-family: "Special Elite", "Helvetica";
}

h1 {
  font-family: "Pinyon Script";
  font-size: 40px;
}

h2 {
  font-family: "Pinyon Script";
  font-size: 32px;
}

p,
li a {
  font-size: 16px;
  font-family: 'JetBrains Mono';
}

.container {
  width: 95%;
  border-radius: 10px;
}

footer {
  display: inline-block;
}

.fa {
  font-size: 20px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

@keyframes pulse {
  0% {
    color: #292929;
  }
  100% {
    color: #ffffff;
  }
}