@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&family=Special+Elite&display=swap');

header, 
footer, 
.container {
  background-color: #222228;
  color: white;
}

body {
  color: white;
  background-image: url("../images/background-abstract-houndstooth.jpg");
}

h2 {
  font-family: "Pinyon Script";
  font-size: 32px;
}

li a {
  text-align: right;
}

.container {
  color: white;
  animation: shift 3s infinite;
  width: 95%;
  border-radius: 10px;
}

.navbar-brand {
  animation: pulse 5s 1;
  font-size: 32px;
  font-family: "Special Elite", "Helvetica";
}

@keyframes pulse {
  0% {
    color: #292929;
  }
  100% {
    color: #ffffff;
  }
}