html {
  background-color: #000000;
  background-image: url("./images/background-abstract-houndstooth.jpg");
}

li a {
  text-align: right;
}

.container {
  background-color: #222228;
  color: white;
  animation: shift 3s infinite;
  width: 100%;
  border-radius: 5px;
  padding: 20px;
}

section img {
  width: 350px;
}

.navbar-brand {
  animation: pulse 5s 1;
  font-size: 32px;
}

@keyframes pulse {
  0% {
    color: #292929;
  }
  100% {
    color: #ffffff;
  }
}

@keyframes shift {
  0% {
    background-color: #222228;
  }
  75% {
    background-color: #222222;
  }
  100% {
    background-color: #222228;
  }
}