<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="../styles.css">
    <link rel="stylesheet" type="text/css" href="./gallery.css">
    <!-- Latest compiled and minified CSS -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Gallery</title>
  </head>

  <body class="container">
    <header class="row">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">Jacob Feitler</a>
              </div>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="../../index.html">Home</a></li>
                <li class="active"><a href="#">Gallery</a></li>
                <li><a href="../contact/contact.html">Contact</a></li>
              </ul>
            </div>
        </nav>
    </header>
    <section class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-4">
                <img class="gal-img" src="../Images/clover-club.jpg" alt="Clover Club" />
                <h2 class="gallery">Clover Club</h2>
                <p>Gin, Raspberry Syrup, Dry Vermouth, Lemon, Egg White</p>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4">
                <img class="gal-img" src="../Images/ramos-gin-fizz.jpg" alt="Ramos Gin Fizz" />
                <h2 class="gallery">Ramoz Gin Fizz</h2>
                <p>Gin, Lemon, Lime, Soda, Cream, Egg White, Orange Blossom Water</p>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4">
                <img class="gal-img" src="../Images/Big-Dipper.JPG" alt="The Big Dipper" />
                <h2 class="gallery">Clover Club</h2>
                <p>Gin, Montenegro, Grapefruit, Lime, Honey, Cinnamon</p>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4">
                <img class="gal-img" src="../Images/Irish-Cold-Brew.JPG" alt="Irish Cold Brew" />
                <h2 class="gallery">Irish Cold Brew</h2>
                <p>Whiskey, Cold Brew Coffee, White Vermouth, Grains of Paradise Syrup, Grapefuit Chantilly</p>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4">
                <img class="gal-img" src="../Images/Jolene.JPG" alt="Jolene" />
                 <h2 class="gallery">Clover Club</h2>
                <p>Tequila, Watermelon Oleo, St germain, Lemon, Lime, White Ale</p>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4">
                <img class="gal-img" src="../Images/apple-whiskey-sour.jpg" alt="Apple Whiskey Sour" />
                <h2 class="gallery">Clover Club</h2>
                <p>Tennessee Whiskey, Fresh Pressed Apples, Lactic Acid</p>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4">
                <img class="gal-img" src="../Images/Sonny&Esmerelda.JPG" alt="Sonny & Esmerelda" />
                <h2 class="gallery">Sonny & Esmerelda</h2>
                <p>Gin, Raspberry Syrup, Dry Vermouth, Lemon, Egg White</p>
            </div>

        </div>
    </section>
  </body>
</html>
    