.gal-img {
    width: 100%;
}

.imgBox {
    width: 280px;
    padding: 20px;
    background-color: #000000;
    margin: 20px;
    border-radius: 10px;
    
}

.imgBox:hover {
    border-top: 2px solid #333;
    border-left: 2px solid #333;
    box-shadow: 10px 10px 5px #111111;
}

.container p, .container h2 {
    text-align: center;
}